.possibilities {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10rem 0;
    gap: 3rem;
}

.text {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 4px; 
}

.ellement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
}

.ellementContainer {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}